.head
{
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
}
.section1
{
  background: #523a2d;
  height: 15rem;
 
}
.foot
{
  position: relative;
  top: -2.5rem;
  background: #000000;
  height:20rem;
}
.section2
{
  background: #fc8019;
  height: 8rem;
  position: relative;
  top: -1.5rem;
  width:101%;
}
.main
{
  width: fit-content;
}
.fooot
{
  padding-top: 2rem;
}
.footcontent
{
  color:whitesmoke; 
}
.classheader
{
  color: gray;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.place
{
  color:white;
  word-spacing: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  position: relative;
  top: 2rem;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

.dash-nav-padding
{
  padding-left: 0px !important;
}
.navbar
{
  background-color: #f3a909d8 !important;
  background: linear-gradient(to right, rgba(224, 92, 68, 0.938) , rgb(255, 187, 0)) !important; 
}
.dash-brand
{
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.dash-item-color
{
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}
.dash-content
{
  background-color: rgb(182, 170, 170) !important;
  margin-top: 2rem;
}
.navbar-menu-list
{
  color: whitesmoke;
  font-weight: bold;
}
.box-style
{
  box-shadow:2px 4px 6px 4px #c3bfa7 !important;
  
}
.dash-content-body
{
  background-color:rgb(253, 249, 249); 
}
.vibtn
{
  background-color: rgb(40, 184, 40);
}