.head
{
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
}
.section1
{
  background: #523a2d;
  height: 15rem;
 
}
.foot
{
  position: relative;
  top: -2.5rem;
  background: #000000;
  height:20rem;
}
.section2
{
  background: #fc8019;
  height: 8rem;
  position: relative;
  top: -1.5rem;
  width:101%;
}
.main
{
  width: fit-content;
}
.fooot
{
  padding-top: 2rem;
}
.footcontent
{
  color:whitesmoke; 
}
.classheader
{
  color: gray;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.place
{
  color:white;
  word-spacing: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  position: relative;
  top: 2rem;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

.dash-nav-padding
{
  padding-left: 0px !important;
}
.navbar
{
  background-color: #f8913dd8 !important;
}
.dash-brand
{
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.dash-item-color
{
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}
.dash-content
{
  background-color: rgb(243, 235, 235);
  margin-top: 2rem;
}
